<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
  		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="userService" class="com.qst.chapter10.struts.UserService" />

	<bean id="loginAction" scope="prototype"
		class="com.qst.chapter10.struts.LoginAction">
		<property name="userService" ref="userService" />
	</bean>
</beans>